.movie-detail {
  /* height: 100vh; */
  position: relative;
  z-index: 2;

  .detail-information {
    position: relative;
    display: flex;
    padding: 1.875rem 1.875rem 0 1.875rem;
    z-index: 2;

    .poster-img {
      height: 90%;
    }

    .detail-desc {
      max-width: 50rem;
      padding-left: 1.875rem;

      .year-genres {
        margin: 1.25rem 0 1.25rem 0;
      }
    }
  }

  .blur-background {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    right: 0;
    opacity: 0.3;
  }
}
